.container{
    background-color: rgb(30, 34, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.calculadora{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.topo{
    margin-top: 1px;
    width: 300px;
    height: 80px;
    color: white ;
    display: flex;
    justify-content: space-between;
}
.resultados{
    color: white;
    background-color: rgb(19, 14, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 50px;
    font-size: 40px;
}
.numeros{
    background-color: rgb(36, 44, 80);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 356px;
    height: 350px;
}
button{
    width: 70px;
    height: 60px;
    border-radius: 10%;
    font-size: 25px;
}
.linha1{
    justify-content: center;
    align-items: center;
}
.linha2{
    justify-content: center;
    align-items: center;
}
.linha3{
    justify-content: center;
    align-items: center;
}
.linha4{
    justify-content: center;
    align-items: center;
}
.linha5{
    width: 180px;
    display: flex;
    justify-content: space-evenly;
}
.reset{
    background-color: blueviolet;
    color: antiquewhite;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.igual{
    background-color: rgb(214, 22, 22);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}
.del{
    background-color: blueviolet;
    color: antiquewhite;
}
.slider{
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.areaslider{
    width: 50px;
    height: 20px;
    background-color: rgb(29, 23, 54);
    display: flex;
    justify-content: flex-start;
    border-radius: 100px;
}
.circle{
    width: 20px;
    border-radius: 100px;
    background-color: rgb(255, 0, 0);
}